body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 30px;
  text-align: center;
}

/* Background image */
main:before {
  content: "";
  position: fixed;
  background-image: url("bg.jpg");
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  filter: blur(5px);
  transform: scale(1.02);
}

h1 {
  color: white;
  text-shadow: 0 0 10px #666;
}

img {
  max-width: 400px;
  max-height: 400px;
}
