body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 30px;
  text-align: center;
}

h1 {
  color: white;
  text-shadow: 0 0 10px #666;
}

img {
  max-height: 400px;
  max-width: 400px;
}

video {
  display: block;
  margin: auto;
  min-height: 30px;
  min-width: 30px;
  background-color: #EEE;
}
